<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Checkout</title>
</head>
<body>
  <nav>
      <img src="/images/26281.png" alt="Mars">
      <h1>Mars Real Estate</h1>
      <a href="/">Home</a>
      <a href="/plots">For Sale</a>
        <a href="/plots/new">Sell</a>
        <a href="/users">Buy</a>
    <% if (user) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Login With Google</a>
      <% } %> 
    </nav>
    
    <main>
      <h3>Your Cart</h3>
     
    </main>
    <div>
      <h2>Checkout</h2>
    </div>
</body>
</html>